@import '../../base.scss';

.bg {
  height: 424px;
  background-color: #385ee8;
  overflow: auto;
  position: relative;
  background-image: url($imgUrl+'/assets/images/storeBg.png');
  background-position: top center;
  background-size: contain;
}

.icon {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #d6d8df;
  background-image: url($imgUrl+'/assets/images/avatar.png');
  background-size: cover;
  margin: 40px auto 0;
}

.title {
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  margin: 16px 0 0;
}

.infoCon {
  width: 686px;
  height: 192px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 rgba(56, 94, 232, 0.1);
  margin: -156px auto 0;
  position: relative;
  z-index: 2;
  // top: -156px;

  view {
    text-align: center;
  }

  .number {
    font-size: 64px;
    color: #333;
    margin-top: 32px;
    font-family: 'number', Arial, Helvetica, sans-serif;
  }

  .info {
    font-size: 24px;
    color: #999;
    margin-top: 16px;
  }
}

.menu {
  background-color: #fff;
  margin-top: 32px;
  :global {
    .at-grid__flex .content-inner__img {
      width: 96px;
      height: 96px;
    }
  }
}
