$imgUrl: 'https://static.xxx.com';

$color-brand: #385ee8;
$color-brand-light: #6a86ee;
$color-brand-dark: #2d4bba;

$color-border-base: #e8e8e8;

$green: #1aad17;
$blue: #385ee8;
$red: #df0000;

$gaS: 8px;
$gap: 16px;
$gapL: 32px;
